@{
    Layout = "_Layout";
}

@model Inventory.Models.Treat
@using System.Security.Claims

<div class="headers">
<h1>Treat Details</h1>
</div>
<div class="treats">
<h2>Treat Name: @Html.DisplayFor(model => model.TreatName)</h2>

@if(@Model.Flavors.Count == 0)
{
    <h4>There are no flavors added for this treat</h4>
}
else
{
    <h4>Flavors:</h4>
    <ul>
        @foreach(var join in Model.Flavors)
        {
            <li>@join.Flavor.FlavorDescription</li>
            @if(User.Identity.IsAuthenticated && ViewBag.IsCurrentUser)
            {
                @using (Html.BeginForm("DeleteFlavor", "Treats"))
                {
                    @Html.Hidden("joinId", @join.FlavorTreatId)
                    <input type="submit" value="Delete" class="btn btn-danger"/>
                }
            }
        }
    </ul>
}
</div>
<div class="flavors">
@if (User.Identity.IsAuthenticated && ViewBag.IsCurrentUser)
{
    <p>@Html.ActionLink("Edit Treat", "Edit", new { id = Model.TreatId }, new {@class="btn btn-primary"})</p>
    <p>@Html.ActionLink("Add a Flavor", "AddFlavor", new { id = Model.TreatId }, new {@class="btn btn-primary"})</p>
    <p>@Html.ActionLink("Delete Treat", "Delete", new { id = Model.TreatId }, new {@class="btn btn-primary"})</p>
}
</div>
