@{
    Layout = "_Layout";
}
@using Inventory.Models;

<div class="headers">
    <h1>Pierre's Sweet and Savory Treats</h1>
    <h4>Below are all the treats and flavors Pierre currently has available.</h4>
    <h4>Click on a Treat or Flavor for details</h4>
    <hr />
    @if (!User.Identity.IsAuthenticated)
    {
        <h4>If you would like to add a treat or flavor.</h4>
        <h5>Click on <strong>Register</strong> at the top to create an account or <strong>Log in</strong> to sign in to your
            account.</h5>
    }
</div>

<div class="treats">
    <ul>
        <h2>Treats
            <img src="https://cdn.iconscout.com/icon/premium/png-256-thumb/pastry-1939534-1638653.png" width="8%"
                height="auto">
        </h2>
        @if (@Model["treats"].Count == 0)
        {
            <p>There are currently no treats</p>
        }
        @foreach (Treat treat in @Model["treats"])
        {
            <li>@Html.ActionLink($"{treat.TreatName}", "Details", "Treats", new { id = treat.TreatId })</li>
        }
    </ul>
</div>

<div class="flavors">
    <ul>
        <h2>Flavors
            <img src="https://icons-for-free.com/iconfiles/png/512/bakery+svg+line+cupcakes-1319964849177384782.png"
                width="10%" height="auto">
        </h2>
        @if (@Model["flavors"].Count == 0)
        {
            <p>There are currently no flavors</p>
        }
        @foreach (Flavor flavor in @Model["flavors"])
        {
            <li>@Html.ActionLink($"{flavor.FlavorDescription}", "Details", "Flavors", new { id = flavor.FlavorId })</li>
        }
    </ul>
</div>